[submodule "lib/armory"]
	path = lib/armory
	url = https://github.com/twosixlabs/armory.git
[submodule "lib/mmskeleton/mmskeleton"]
	path = lib/mmskeleton/mmskeleton
	url = https://github.com/open-mmlab/mmskeleton.git
