# ignore .conda, etc.
.*

# Allowing .git
!.git/

# Ensure all git files are present. Otherwise, OSCAR will be "dirty" inside container, which will change the version
!.instance_counter
!.tmp_conf.yaml
!.dockerignore
!.flake8
!.github/
!.gitignore

# ignore large directories
data/
logs/

# allow textures directory
!data/textures

# ignore temp directories
docker/build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv*

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# mypy
.mypy_cache/
